@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$green: #5CBA47;
$black: #3D3D33;
$dark: #707069;
$light: #F0F0EB;
$grey: #BDBDB5;

$grey-light: $light;
$primary: $green;
$link: $green;


$body-background-color: $light;

$footer-background-color: $black;
$footer-padding: 6rem 1.5rem 6rem;

@import "../node_modules/bulma/bulma.sass";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
  margin-bottom: 6em;
}

.logo {
  height: 80px;
}

hr {
  background-color: $grey;
  height: 1px;
}

.content-block {
  margin: 4em 0;
}

.navbar-hr {
  margin-bottom: 0em;
}